body {
	background: linear-gradient(45deg, #EA8D8D, #A890FE);
	background-repeat: no-repeat;
	min-height: 100vh;
}

p {
	color: white;
	text-align: center;
	font-size: 24px;
}

.summary{
	font-style: italic;
}

h1 {
	color: white;
	text-align: center;
	font-size: 48px;
}

div.container{
	display: flex;
	justify-content: center;
	color: white;
	font-size: 24px;
	text-align: center;
}

.myList {
  display: inline-block;
  text-align: left;
}
